{
  "openapi": "3.1.0",
  "info": {
    "title": "API JSON",
    "description": "Documentación de la API JSON",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.json.com.pe/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/dni": {
      "post": {
        "description": "Consulta la información asociada a un DNI",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaDniRequest"
              },
              "example": {
                "dni": "12345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaDniResponse"
                },
                "example": {
                  "success": true,
                  "message": "Exito",
                  "data": {
                    "numero": "12345678",
                    "nombre_completo": "PEREZ GOMEZ, JUAN JOSE",
                    "nombres": "JUAN JOSE",
                    "apellido_paterno": "PEREZ",
                    "apellido_materno": "GOMEZ",
                    "codigo_verificacion": 9,
                    "direccion": "",
                    "direccion_completa": "",
                    "ubigeo_reniec": "",
                    "ubigeo_sunat": "",
                    "ubigeo": [
                      null,
                      null,
                      null
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información para el DNI enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDNI"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró DNI"
                }
              }
            }
          }
        }
      }
    },
    "/ruc": {
      "post": {
        "description": "Consulta la información asociada a un RUC",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "ruc": "20123456789",
                    "nombre_o_razon_social": "HAMID S.A.C.",
                    "estado": "SUSPENSION TEMPORAL",
                    "condicion": "HABIDO",
                    "departamento": "LIMA",
                    "provincia": "LIMA",
                    "distrito": "CERCADO DE LIMA",
                    "direccion": "AV. NICOLÁS DE PIÉROLA.",
                    "direccion_completa": "AV. NICOLÁS DE PIÉROLA., LIMA - LIMA - CERCADO DE LIMA",
                    "ubigeo_sunat": "150137",
                    "ubigeo": [
                      "15",
                      "1501",
                      "150101"
                    ],
                    "es_agente_de_retencion": "NO",
                    "es_agente_de_percepcion": "NO",
                    "es_agente_de_percepcion_combustible": "NO",
                    "es_buen_contribuyente": "SI"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información para el RUC enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRuc"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró RUC"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/representantes": {
      "post": {
        "description": "Consulta representante legal por RUC",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucRepresentanteRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucRepresentanteResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "tipo_de_documento": "DNI",
                      "numero_de_documento": "7*****54",
                      "nombre": "JUAN *****O ***NA",
                      "cargo": "GERENTE GENERAL",
                      "fecha_desde": "05/05/2012"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información para el RUC enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucRepresentante"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró RUC"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/establecimientos": {
      "post": {
        "description": "Consulta establecimientos por RUC",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucEstablecimientosRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucEstablecimientosResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "codigo": "0001",
                      "tipo_establecimiento": "SU. SUCURSAL",
                      "actividad_economica": "-",
                      "direccion": "AV. NICOLÁS DE PIÉROLA.",
                      "direccion_completa": "AV. NICOLÁS DE PIÉROLA., LIMA - LIMA - CERCADO DE LIMA",
                      "departamento": "LIMA",
                      "provincia": "LIMA",
                      "distrito": "CERCADO DE LIMA",
                      "ubigeo_sunat": "150101",
                      "ubigeo": [
                        "15",
                        "1501",
                        "150101"
                      ]
                    },
                    {
                      "codigo": "0002",
                      "tipo_establecimiento": "SU. SUCURSAL",
                      "actividad_economica": "-",
                      "direccion": "AV. ALFONSO UGARTE.",
                      "direccion_completa": "AV. ALFONSO UGARTE., LIMA - LIMA - CERCADO DE LIMA",
                      "departamento": "LIMA",
                      "provincia": "LIMA",
                      "distrito": "LIMA",
                      "ubigeo_sunat": "150101",
                      "ubigeo": [
                        "15",
                        "1501",
                        "150101"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información para el RUC enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucEstablecimientos"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró RUC"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/domicilio-fiscal": {
      "post": {
        "description": "Consulta domicilio fiscal por RUC.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucDomicilioRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucDomicilioResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "codigo": "0001",
                    "tipo_de_establecimiento": "DOMICILIO FISCAL",
                    "actividad_economica": "-",
                    "direccion": "AV. NICOLÁS DE PIÉROLA.",
                    "direccion_completa": "AV. NICOLÁS DE PIÉROLA., LIMA - LIMA - CERCADO DE LIMA",
                    "departamento": "LIMA",
                    "provincia": "LIMA",
                    "distrito": "CERCADO DE LIMA",
                    "ubigeo_sunat": "150101",
                    "ubigeo": [
                      "15",
                      "1501",
                      "150101"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información para el RUC enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucDomicilio"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró RUC"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/deuda-coactiva": {
      "post": {
        "description": "Consulta deuda coactiva por RUC.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucDeudaRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucDeudaResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "monto": "33552244.00",
                      "periodo_tibutario": "1999 - 10",
                      "fecha_inicio_cobranza": "2000-05-05",
                      "entidad_asociada": "Tesoro Público"
                    },
                    {
                      "monto": "33552244.00",
                      "periodo_tibutario": "1999 - 11",
                      "fecha_inicio_cobranza": "2000-05-05",
                      "entidad_asociada": "Tesoro Público"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucDeuda"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/trabajadores": {
      "post": {
        "description": "Consulta trabajadores por RUC.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucTrabajadoresRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucTrabajadoresResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "periodo": "2026-01",
                      "numero_trabajadores": "19 111",
                      "numero_pensionistas": "2",
                      "numero_prestadores_de_servicio": "130"
                    },
                    {
                      "periodo": "2026-02",
                      "numero_trabajadores": "19 252",
                      "numero_pensionistas": "2",
                      "numero_prestadores_de_servicio": "132"
                    },
                    {
                      "periodo": "2026-03",
                      "numero_trabajadores": "20 350",
                      "numero_pensionistas": "2",
                      "numero_prestadores_de_servicio": "132"
                    },
                    {
                      "periodo": "2026-04",
                      "numero_trabajadores": "20 445",
                      "numero_pensionistas": "2",
                      "numero_prestadores_de_servicio": "140"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucTrabajadores"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/omisiones-tributarias": {
      "post": {
        "description": "Consulta omisiones tributarias por RUC.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucOmisionesRequest"
              },
              "example": {
                "ruc": "20123456789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucOmisionesResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "periodo": "202601",
                      "tipo": "PDT IGV - Renta",
                      "fecha_presentacion": "-"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucOmisiones"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/razon_social": {
      "post": {
        "description": "Búsqueda por razón social.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRucRazonRequest"
              },
              "example": {
                "razon_social": "LAB"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRucRazonResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "ruc": "20123456789",
                      "nombre_o_razon_social": "LAB.",
                      "ubicacion": "LIMA",
                      "estado": "ACTIVO"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRucRazon"
                },
                "example": {
                  "success": false,
                  "message": "No se encontraron resultados"
                }
              }
            }
          }
        }
      }
    },
    "/ruc/tipo_de_cambio": {
      "post": {
        "description": "Consulta tipo de cambio por fecha.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaCambioRequest"
              },
              "example": {
                "fecha": "2026-01-05"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaCambioResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "moneda": "USD",
                    "fecha_busqueda": "2026-01-05",
                    "fecha_sunat": "2026-01-05",
                    "venta": 3.381,
                    "compra": 3.37,
                    "date": "2026-01-05",
                    "sale": 3.381,
                    "purchase": 3.37
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseCambio"
                },
                "example": {
                  "success": false,
                  "message": "No se encontraron resultados"
                }
              }
            }
          }
        }
      }
    },
    "/dni-ruc": {
      "post": {
        "description": "Consulta si un DNI cuenta con RUC asociado.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaDRRequest"
              },
              "example": {
                "dni": "12345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaDRResponse"
                },
                "example": {
                  "success": true,
                  "message": "El DNI si cuenta con RUC",
                  "data": {
                    "dni": "20123456789"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDR"
                },
                "example": {
                  "success": false,
                  "message": "El DNI no cuenta con RUC"
                }
              }
            }
          }
        }
      }
    },
    "/cpe": {
      "post": {
        "description": "Valida comprobantes electrónicos. Verifica estado y datos del comprobante.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaCpeRequest"
              },
              "example": {
                "ruc_emisor": "<string>",
                "codigo_tipo_documento": "<string>",
                "serie_documento": "<string>",
                "numero_documento": "<string>",
                "fecha_de_emision": "<string>",
                "total": "<string>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaCpeResponse"
                },
                "example": {
                  "success": true,
                  "message": "ACEPTADO",
                  "data": {
                    "ruc_emisor": "20123456789",
                    "codigo_tipo_documento": "03",
                    "serie_documento": "B012",
                    "numero_documento": "12374",
                    "fecha_de_emision": "08/05/2026",
                    "total": 30,
                    "comprobante_estado_codigo": "1",
                    "comprobante_estado_descripcion": "ACEPTADO",
                    "empresa_estado_codigo": "00",
                    "empresa_estado_description": "ACTIVO",
                    "empresa_condicion_codigo": "00",
                    "empresa_condicion_descripcion": "HABIDO",
                    "observaciones": []
                  }
                }
              }
            }
          },
          "404": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseCpe"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró RUC"
                }
              }
            }
          }
        }
      }
    },
    "/ce": {
      "post": {
        "description": "Consulta carnet de extranjería por número.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaCeRequest"
              },
              "example": {
                "ce": "000000111"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaCeResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "numero": "001077238",
                    "nombres": "JUAN JOSE",
                    "apellido_paterno": "PEREZ",
                    "apellido_materno": "GOMEZ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseCe"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/ci": {
      "post": {
        "description": "Consulta cédula de identidad por número.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaCiRequest"
              },
              "example": {
                "ci": "20260350"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaCiResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "numero": "20260350",
                    "nombres": "JUAN JOSE",
                    "apellido_paterno": "PEREZ",
                    "apellido_materno": "GOMEZ"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseCi"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/placa": {
      "post": {
        "description": "Consulta placa por número.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaPlacaRequest"
              },
              "example": {
                "placa": "ABC789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaPlacaResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "placa": "ABC789",
                    "marca": "LAB",
                    "modelo": "LAB-XY",
                    "serie": "2BD22221A988951478",
                    "color": "NEGRO",
                    "motor": "8569632",
                    "vin": "9HJI6698858778"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponsePlaca"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/soat": {
      "post": {
        "description": "Consulta SOAT por placa.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaSoatRequest"
              },
              "example": {
                "placa": "ABC789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaSoatResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "placa": "ABC789",
                    "nombre_compania": "SA Seguros",
                    "fecha_inicio": "05/01/2026",
                    "fecha_fin": "05/05/2026",
                    "estado": "VENCIDO",
                    "numero_poliza": "0023584606840000000856987"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseSoat"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/revision-tecnica": {
      "post": {
        "description": "Consulta revisión técnica por placa.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaRevisionRequest"
              },
              "example": {
                "placa": "ABC789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaRevisionResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": [
                    {
                      "placa": "ABC123",
                      "tipo_documento": "NRO DE CERTIFICADO",
                      "numero_certificado": "C-2024-370-561-000479",
                      "vigente_desde": "12/05/2025",
                      "vigente_hasta": "12/05/2026",
                      "resultado_inspeccion": "APROBADO",
                      "estado": "VENCIDO",
                      "empresa_certificadora": "CENTRO DE INSPECCION S.A.C.",
                      "direccion": "AV. NICOLÁS DE PIÉROLA - LIMA - LIMA - CERCADO DE LIMA",
                      "ambito": "NINGUNO",
                      "tipo_servicio": "PARTICULAR",
                      "observaciones": "Sin observaciones",
                      "orden": "ULTIMO"
                    },
                    {
                      "placa": "ABC123",
                      "tipo_documento": "NRO DE INFORME",
                      "numero_certificado": "I-2024-370-561-000087",
                      "vigente_desde": "12/05/2025",
                      "vigente_hasta": "",
                      "resultado_inspeccion": "DESAPROBADO",
                      "estado": "",
                      "empresa_certificadora": "CENTRO DE INSPECCION S.A.C.",
                      "direccion": "AV. NICOLÁS DE PIÉROLA - LIMA - LIMA - CERCADO DE LIMA",
                      "ambito": "NINGUNO",
                      "tipo_servicio": "PARTICULAR",
                      "observaciones": "Sin observaciones",
                      "orden": "PENULTIMO"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseRevision"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/licencia": {
      "post": {
        "description": "Consulta licencia de conducir por DNI.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaLicenciaRequest"
              },
              "example": {
                "dni": "12345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaLicenciaResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "numero_documento": "12345678",
                    "nombre_completo": "CARLOS EDGARDO DELGADO RIVERA",
                    "licencia": {
                      "numero": "A10852329",
                      "categoria": "A I",
                      "fecha_expedicion": "",
                      "fecha_vencimiento": "06/06/2026",
                      "estado": "VIGENTE",
                      "restricciones": "SIN RESTRICCIONES"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseLicencia"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/xml": {
      "post": {
        "description": "Consulta XML por datos de comprobante.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaDxmlRequest"
              },
              "example": {
                "ruc": "ABC789",
                "usuario": "ABC789",
                "password": "ABC789",
                "proveedor": "ABC789",
                "tipo_doc": "ABC789",
                "serie": "ABC789",
                "correlativo": "ABC789"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaDxmlResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "pdf_base64": "H0ZAAAbAAUEsDBBQOS92n...jY2MS0wMS1G"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDxml"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/sunat/xml-to-pdf": {
      "post": {
        "description": "Convierte XML a PDF. Obtén documento PDF desde archivo XML base64.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaXmlPdfRequest"
              },
              "example": {
                "file_base64": "PuZz0iVVRGLTgiPz48Um9....ZDwvRGF0YlbmNvZ"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaXmlPdfResponse"
                },
                "example": {
                  "success": true,
                  "message": "exito",
                  "data": {
                    "pdf_base64": "BQAAAAIAEiWmVi2....qZ+bIw0AAH0ZAAAbAAAAU"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Recurso no encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseXmlPdf"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    },
    "/api/sunat/guia/xml/{numRuc}-{tipoDocumento}-{numSerieComprobante}-{numDocumentoComprobante}": {
      "get": {
        "summary": "Obtener XML de una guía",
        "description": "Obtiene el contenido XML de una guía utilizando el RUC, tipo de documento, serie y número de comprobante.",
        "parameters": [
          {
            "name": "numRuc",
            "in": "path",
            "description": "Número de RUC del emisor.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20123456789"
            }
          },
          {
            "name": "tipoDocumento",
            "in": "path",
            "description": "Tipo de documento del comprobante.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "09"
            }
          },
          {
            "name": "numSerieComprobante",
            "in": "path",
            "description": "Número de serie del comprobante.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "T001"
            }
          },
          {
            "name": "numDocumentoComprobante",
            "in": "path",
            "description": "Número del documento o comprobante.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "00000001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML obtenido correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuiaXmlResponse"
                },
                "example": {
                  "success": true,
                  "message": "Exito",
                  "data": "PERlc3BhdGNoQWR2aWNl..."
                }
              }
            }
          },
          "404": {
            "description": "No se encontró información para el DNI enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseXML"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConsultaDniRequest": {
        "type": "object",
        "required": [
          "dni"
        ],
        "properties": {
          "dni": {
            "type": "string",
            "description": "DNI de 8 dígitos del titular a consultar.",
            "example": "12345678"
          }
        }
      },
      "ConsultaDniResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "string",
                "description": "Número de documento encontrado.",
                "example": "27427864"
              },
              "nombre_completo": {
                "type": "string",
                "description": "Nombre completo del titular.",
                "example": "PEREZ GOMEZ, JUAN JOSE"
              },
              "nombres": {
                "type": "string",
                "description": "Nombres de pila de la persona.",
                "example": "JUAN JOSE"
              },
              "apellido_paterno": {
                "type": "string",
                "description": "Primer apellido (apellido paterno) de la persona.",
                "example": "PEREZ"
              },
              "apellido_materno": {
                "type": "string",
                "description": "Segundo apellido (apellido materno) de la persona.",
                "example": "GOMEZ"
              },
              "codigo_verificacion": {
                "type": "string",
                "description": "Código de verificación del DNI (dígito verificador).",
                "example": "9"
              },
              "direccion": {
                "type": "string",
                "description": "Dirección de la persona."
              },
              "direccion_completa": {
                "type": "string",
                "description": "Dirección completa de la persona."
              },
              "ubigeo_reniec": {
                "type": "string",
                "description": "Ubigeo según RENIEC."
              },
              "ubigeo_sunat": {
                "type": "string",
                "description": "Ubigeo según SUNAT."
              },
              "ubigeo": {
                "type": "array",
                "description": "Información del ubigeo asociada al titular.",
                "items": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "example": [
                  null,
                  null,
                  null
                ]
              }
            }
          }
        }
      },
      "ErrorResponseDNI": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del error.",
            "example": "No se encontró DNI"
          }
        }
      },
      "ConsultaRucRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "Ruc de 11 dígitos a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "ruc": {
                "type": "string",
                "description": "Número de identificación (RUC).",
                "example": "20123456789"
              },
              "nombre_o_razon_social": {
                "type": "string",
                "description": "Nombre o Razon Social de la empresa."
              },
              "estado": {
                "type": "string",
                "description": "Estado de la empresa."
              },
              "condicion": {
                "type": "string",
                "description": "Condición de la empresa."
              },
              "departamento": {
                "type": "string",
                "description": "Departamento de la empresa."
              },
              "provincia": {
                "type": "string",
                "description": "CProvincia de la empresa."
              },
              "distrito": {
                "type": "string",
                "description": "Distrito de la empresa."
              },
              "direccion": {
                "type": "string",
                "description": "Dirección específica."
              },
              "ubigeo_sunat": {
                "type": "string",
                "description": "Ubigeo según SUNAT."
              },
              "ubigeo": {
                "type": "string",
                "description": "Ubigeo desglosado por componentes."
              },
              "es_agente_de_retencion": {
                "type": "string",
                "description": "Indica si es agente de percepción."
              },
              "es_agente_de_percepcion": {
                "type": "string",
                "description": "Indica si es agente de percepción."
              },
              "es_agente_de_percepcion_combustible": {
                "type": "string",
                "description": "Indica si es agente de percepción de combustibles."
              },
              "es_buen_contribuyente": {
                "type": "string",
                "description": "Indica si está catalogado como buen contribuyente."
              }
            }
          }
        }
      },
      "ErrorResponseRuc": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del error.",
            "example": "No se encontró RUC"
          }
        }
      },
      "ConsultaRucRepresentanteRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "Ruc de 11 dígitos a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucRepresentanteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "tipo_de_documento": {
                "type": "string",
                "description": "Tipo de documento del representate."
              },
              "numero_de_documento": {
                "type": "string",
                "description": "Numero de documento del representante."
              },
              "nombre": {
                "type": "string",
                "description": "Nombre del representante."
              },
              "cargo": {
                "type": "string",
                "description": "Cargo del representate."
              },
              "fecha_desde": {
                "type": "string",
                "description": "Fecha desde."
              }
            }
          }
        }
      },
      "ErrorResponseRucRepresentante": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del error.",
            "example": "No se encontró RUC"
          }
        }
      },
      "ConsultaRucEstablecimientosRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "Ruc de 11 dígitos a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucEstablecimientosResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo del local."
              },
              "tipo_establecimiento": {
                "type": "string",
                "description": "Tipo de establecimiento del local."
              },
              "actividad_economica": {
                "type": "string",
                "description": "Actividad economica del local."
              },
              "departamento": {
                "type": "string",
                "description": "Departamento del local."
              },
              "provincia": {
                "type": "string",
                "description": "Provincia del local."
              },
              "distrito": {
                "type": "string",
                "description": "Distrito del local."
              },
              "direccion": {
                "type": "string",
                "description": "Dirección específica."
              },
              "direccion_completa": {
                "type": "string",
                "description": "Dirección completa, incluyendo distrito, provincia y departamento."
              },
              "ubigeo_sunat": {
                "type": "string",
                "description": "Ubigeo según SUNAT."
              },
              "ubigeo": {
                "type": "array",
                "description": "Ubigeo desglosado por componentes."
              }
            }
          }
        }
      },
      "ErrorResponseRucEstablecimientos": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del error.",
            "example": "No se encontró RUC"
          }
        }
      },
      "ConsultaRucDomicilioRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "Ruc de 11 dígitos a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucDomicilioResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "codigo": {
                "type": "string",
                "description": "Codigo del local."
              },
              "tipo_de_establecimiento": {
                "type": "string",
                "description": "Tipo de establecimiento del local."
              },
              "actividad_economica": {
                "type": "string",
                "description": "Actividad economica del local."
              },
              "departamento": {
                "type": "string",
                "description": "Departamento del local."
              },
              "provincia": {
                "type": "string",
                "description": "Provincia del local."
              },
              "distrito": {
                "type": "string",
                "description": "Distrito del local."
              },
              "direccion": {
                "type": "string",
                "description": "Dirección específica."
              },
              "direccion_completa": {
                "type": "string",
                "description": "Dirección completa, incluyendo distrito, provincia y departamento."
              },
              "ubigeo_sunat": {
                "type": "string",
                "description": "Ubigeo según SUNAT."
              },
              "ubigeo": {
                "type": "array",
                "description": "Ubigeo desglosado por componentes."
              }
            }
          }
        }
      },
      "ErrorResponseRucDomicilio": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del error.",
            "example": "No se encontró RUC"
          }
        }
      },
      "ConsultaRucDeudaRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "El RUC a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucDeudaResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "monto": {
                "type": "string",
                "description": "Monto de la deuda coactiva."
              },
              "periodo_tibutario": {
                "type": "string",
                "description": "TPeríodo tributario."
              },
              "fecha_inicio_cobranza": {
                "type": "string",
                "description": "Fecha de inicio de cobranza en formato yyyy-mm-dd."
              },
              "entidad_asociada": {
                "type": "string",
                "description": "Entidad asociada a la deuda."
              }
            }
          }
        }
      },
      "ErrorResponseRucDeuda": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaRucTrabajadoresRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "El RUC a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucTrabajadoresResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "periodo": {
                "type": "string",
                "description": "Período en formato YYYY-MM."
              },
              "numero_trabajadores": {
                "type": "string",
                "description": "Número de trabajadores declarados."
              },
              "numero_pensionistas": {
                "type": "string",
                "description": "Número de pensionistas."
              },
              "numero_prestadores_de_servicio": {
                "type": "string",
                "description": "Número de prestadores de servicio."
              }
            }
          }
        }
      },
      "ErrorResponseRucTrabajadores": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaRucOmisionesRequest": {
        "type": "object",
        "required": [
          "ruc"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "El RUC a consultar.",
            "example": "20123456789"
          }
        }
      },
      "ConsultaRucOmisionesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "periodo": {
                "type": "string",
                "description": "Período en formato YYYY-MM."
              },
              "tipo": {
                "type": "string",
                "description": "Tipo de declaración omisa (ej. PDT IGV - Renta)."
              },
              "fecha_presentacion": {
                "type": "string",
                "description": "Fecha de presentación. Puede ser \"-\" si no se presentó."
              }
            }
          }
        }
      },
      "ErrorResponseRucOmisiones": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaRucRazonRequest": {
        "type": "object",
        "required": [
          "razon_social"
        ],
        "properties": {
          "razon_social": {
            "type": "string",
            "description": "La razón social a buscar.",
            "example": "LAB"
          }
        }
      },
      "ConsultaRucRazonResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "ruc": {
                "type": "string",
                "description": "RUC de la empresa."
              },
              "nombre_o_razon_social": {
                "type": "string",
                "description": "Nombre o razón social de la empresa."
              },
              "ubicacion": {
                "type": "string",
                "description": "Ubicación de la empresa."
              },
              "estado": {
                "type": "string",
                "description": "Estado de la empresa (ACTIVO, etc.)"
              }
            }
          }
        }
      },
      "ErrorResponseRucRazon": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaCambioRequest": {
        "type": "object",
        "required": [
          "fecha"
        ],
        "properties": {
          "fecha": {
            "type": "string",
            "description": "Fecha de consulta en formato yyyy-mm-dd.",
            "example": "2026-01-05"
          }
        }
      },
      "ConsultaCambioResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "moneda": {
                "type": "string",
                "description": "Código de la moneda consultada."
              },
              "fecha_busqueda": {
                "type": "string",
                "description": "Fecha solicitada para la consulta."
              },
              "fecha_sunat": {
                "type": "string",
                "description": "Última fecha disponible en SUNAT."
              },
              "venta": {
                "type": "number",
                "description": "Tipo de cambio venta."
              },
              "compra": {
                "type": "number",
                "description": "Tipo de cambio compra."
              },
              "date": {
                "type": "number",
                "description": "Fecha en formato ISO (alias de fecha_sunat)"
              },
              "sale": {
                "type": "number",
                "description": "Tipo de cambio venta (alias)"
              },
              "purchase": {
                "type": "number",
                "description": "Tipo de cambio compra (alias)"
              }
            }
          }
        }
      },
      "ErrorResponseCambio": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaDRRequest": {
        "type": "object",
        "required": [
          "dni"
        ],
        "properties": {
          "dni": {
            "type": "string",
            "description": "Número de DNI de 8 dígitos.",
            "example": "12345678"
          }
        }
      },
      "ConsultaDRResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "ruc": {
                "type": "string",
                "description": "Número de RUC asociado al DNI."
              }
            }
          }
        }
      },
      "ErrorResponseDR": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaCpeRequest": {
        "type": "object",
        "required": [],
        "properties": {
          "ruc_emisor": {
            "type": "string",
            "description": "RUC Emisor del comprobante.",
            "example": "12345678"
          },
          "codigo_tipo_documento": {
            "type": "string",
            "description": "Tipo Documento del comprobante.",
            "example": "12345678"
          },
          "serie_documento": {
            "type": "string",
            "description": "Serie del comprobante.",
            "example": "12345678"
          },
          "numero_documento": {
            "type": "string",
            "description": "Correlativo del comprobante.",
            "example": "12345678"
          },
          "fecha_de_emision": {
            "type": "string",
            "description": "Debe tener el formato dd/mm/yyyy.",
            "example": "12345678"
          },
          "total": {
            "type": "string",
            "description": "Total del comprobante.",
            "example": "12345678"
          }
        }
      },
      "ConsultaCpeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "ruc_emisor": {
                "type": "string",
                "description": "RUC del emisor del comprobante."
              },
              "codigo_tipo_documento": {
                "type": "string",
                "description": "Código del tipo de documento (ej. 01, 03)."
              },
              "serie_documento": {
                "type": "string",
                "description": "Serie del comprobante."
              },
              "numero_documento": {
                "type": "string",
                "description": "Número del comprobante."
              },
              "fecha_de_emision": {
                "type": "string",
                "description": "Fecha de emisión del comprobante en formato dd/mm/yyyy."
              },
              "total": {
                "type": "string",
                "description": "Importe total declarado en el comprobante."
              },
              "comprobante_estado_codigo": {
                "type": "string",
                "description": "Código del estado del comprobante."
              },
              "comprobante_estado_descripcion": {
                "type": "string",
                "description": "Descripción del estado del comprobante."
              },
              "empresa_estado_codigo": {
                "type": "string",
                "description": "Código del estado del contribuyente emisor."
              },
              "empresa_estado_description": {
                "type": "string",
                "description": "Descripción del estado del contribuyente emisor."
              },
              "empresa_condicion_codigo": {
                "type": "string",
                "description": "Código de la condición del contribuyente emisor."
              },
              "empresa_condicion_descripcion": {
                "type": "string",
                "description": "Descripción de la condición del contribuyente emisor."
              },
              "observaciones": {
                "type": "string[]",
                "description": "Observaciones reportadas por SUNAT."
              }
            }
          }
        }
      },
      "ErrorResponseCpe": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaCeRequest": {
        "type": "object",
        "required": [
          "ce"
        ],
        "properties": {
          "ce": {
            "type": "string",
            "description": "El carnet de extranjería a consultar.",
            "example": "000000111"
          }
        }
      },
      "ConsultaCeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "string",
                "description": "Número del carnet de extranjería de la persona."
              },
              "nombres": {
                "type": "string",
                "description": "Nombres de la persona."
              },
              "apellido_paterno": {
                "type": "string",
                "description": "Apellido paterno de la persona."
              },
              "apellido_materno": {
                "type": "string",
                "description": "Apellido materno de la persona."
              }
            }
          }
        }
      },
      "ErrorResponseCe": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaCiRequest": {
        "type": "object",
        "required": [
          "ci"
        ],
        "properties": {
          "ci": {
            "type": "string",
            "description": "La cédula de identidad a consultar.",
            "example": "000000111"
          }
        }
      },
      "ConsultaCiResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "string",
                "description": "Número del carnet de extranjería de la persona."
              },
              "nombres": {
                "type": "string",
                "description": "Nombres de la persona."
              },
              "apellido_paterno": {
                "type": "string",
                "description": "Apellido paterno de la persona."
              },
              "apellido_materno": {
                "type": "string",
                "description": "Apellido materno de la persona."
              }
            }
          }
        }
      },
      "ErrorResponseCi": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaPlacaRequest": {
        "type": "object",
        "required": [
          "placa"
        ],
        "properties": {
          "placa": {
            "type": "string",
            "description": "La placa a consultar.",
            "example": "ABC789"
          }
        }
      },
      "ConsultaPlacaResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "placa": {
                "type": "string",
                "description": "Placa del vehiculo."
              },
              "marca": {
                "type": "string",
                "description": "Marca del vehiculo."
              },
              "modelo": {
                "type": "string",
                "description": "Modelo del vehiculo."
              },
              "serie": {
                "type": "string",
                "description": "Serie del vehiculo."
              },
              "color": {
                "type": "string",
                "description": "Color del vehiculo."
              },
              "motor": {
                "type": "string",
                "description": "Motor del vehiculo."
              },
              "vin": {
                "type": "string",
                "description": "VIN del vehiculo."
              }
            }
          }
        }
      },
      "ErrorResponsePlaca": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaSoatRequest": {
        "type": "object",
        "required": [
          "placa"
        ],
        "properties": {
          "placa": {
            "type": "string",
            "description": "La placa a consultar.",
            "example": "ABC789"
          }
        }
      },
      "ConsultaSoatResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "placa": {
                "type": "string",
                "description": "Placa del vehiculo."
              },
              "nombre_compania": {
                "type": "string",
                "description": "Nombre de la compañia."
              },
              "fecha_inicio": {
                "type": "string",
                "description": "Fecha de Inicio."
              },
              "fecha_fin": {
                "type": "string",
                "description": "Fecha Fin."
              },
              "estado": {
                "type": "string",
                "description": "Estado del SOAT."
              },
              "numero_poliza": {
                "type": "string",
                "description": "Numero de Poliza."
              }
            }
          }
        }
      },
      "ErrorResponseSoat": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaRevisionRequest": {
        "type": "object",
        "required": [
          "placa"
        ],
        "properties": {
          "placa": {
            "type": "string",
            "description": "La placa a consultar.",
            "example": "ABC789"
          }
        }
      },
      "ConsultaRevisionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "placa": {
                "type": "string",
                "description": "Placa del vehiculo."
              },
              "tipo_documento": {
                "type": "string",
                "description": "Tipo de documento (NRO DE CERTIFICADO, NRO DE INFORME)"
              },
              "numero_certificado": {
                "type": "string",
                "description": "Número de certificado o informe."
              },
              "vigente_desde": {
                "type": "string",
                "description": "Fecha de inicio de vigencia."
              },
              "vigente_hasta": {
                "type": "string",
                "description": "Fecha de fin de vigencia."
              },
              "resultado_inspeccion": {
                "type": "string",
                "description": "Resultado de la inspección (APROBADO, DESAPROBADO)"
              },
              "estado": {
                "type": "string",
                "description": "Estado del certificado (VENCIDO, VIGENTE, etc.)"
              },
              "empresa_certificadora": {
                "type": "string",
                "description": "Nombre de la empresa certificadora."
              },
              "direccion": {
                "type": "string",
                "description": "Dirección del centro de inspección."
              },
              "ambito": {
                "type": "string",
                "description": "Ámbito de la inspección."
              },
              "tipo_servicio": {
                "type": "string",
                "description": "Tipo de servicio del vehículo (PARTICULAR, etc.)"
              },
              "observaciones": {
                "type": "string",
                "description": "Observaciones de la inspección."
              },
              "orden": {
                "type": "string",
                "description": "Orden cronológico del registro (ULTIMO, PENULTIMO, ANTEPENULTIMO)"
              }
            }
          }
        }
      },
      "ErrorResponseRevision": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaDxmlRequest": {
        "type": "object",
        "required": [
          "ruc",
          "usuario",
          "password",
          "proveedor",
          "tipo_doc",
          "serie",
          "correlativo"
        ],
        "properties": {
          "ruc": {
            "type": "string",
            "description": "RUC de la empresa."
          },
          "usuario": {
            "type": "string",
            "description": "Usuario SOL."
          },
          "password": {
            "type": "string",
            "description": "Contraseña SOL."
          },
          "proveedor": {
            "type": "string",
            "description": "RUC del emisor del comprobante. Si es una venta (comprobante emitido por tu empresa), usa el mismo valor que el campo ruc. Si es una compra (comprobante que te emitió un tercero), indica el RUC de la empresa que te emitió la factura."
          },
          "tipo_doc": {
            "type": "string",
            "description": "Tipo de documento."
          },
          "serie": {
            "type": "string",
            "description": "Serie del comprobante."
          },
          "correlativo": {
            "type": "string",
            "description": "Número correlativo."
          }
        }
      },
      "ConsultaDxmlResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "pdf_base64": {
                "type": "string",
                "description": "Archivo ZIP codificado en Base64 que contiene el PDF generado."
              }
            }
          }
        }
      },
      "ErrorResponseDxml": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaLicenciaRequest": {
        "type": "object",
        "required": [
          "dni"
        ],
        "properties": {
          "dni": {
            "type": "string",
            "description": "El DNI a consultar.",
            "example":"12345678"
          }
        }
      },
      "ConsultaLicenciaResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "numero_documento": {
                "type": "string",
                "description": "Numero de documento."
              },
              "nombre_completo": {
                "type": "string",
                "description": "Nombre completo de la persona."
              },
              "licencia": {
                "licencia": "array",
                "description": "Datos de la licencia."
              }
            }
          }
        }
      },
      "ErrorResponseLicencia": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ConsultaXmlPdfRequest": {
        "type": "object",
        "required": [
          "file_base64"
        ],
        "properties": {
          "file_base64": {
            "type": "string",
            "description": "Archivo XML codificado en base64.",
            "example":"PD94bWxsbyBXb3JsZDwvRGF....0YT48L1Jvb3Q"
          }
        }
      },
      "ConsultaXmlPdfResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "pdf_base64": {
                "type": "string",
                "description": "Archivo ZIP codificado en Base64 que contiene el PDF generado."
              }
              }
            }
          }
        }
      },
      "ErrorResponseXmlPdf": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "GuiaXmlResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la operación fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "string",
            "description": "Contenido XML codificado o serializado.",
            "example": "PERlc3BhdGNoQWR2aWNl..."
          }
        }
      },
      "ErrorResponseXML": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Estado de la solicitud."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}